<h1> Welcome to Super Rentals </h1>

We hope you find exactly what you're looking for in a place to stay.
<br>
<br>

<ul>
  {{#each model as |rental|}}
     {{rental-tile rental=rental}}
     <br>
  {{/each}}
</ul>

{{new-rental save2="save3"}}
<br>
{{#link-to 'about'}}About{{/link-to}}
<br>
<br>
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
